<h1>Your curriculum plan</h1>
<h2>Grade: <%= @post.grade.level %></h2>
<h2>Category: <%= @post.category.name %></h2>
<h2>Subject: <%= @post.subject.name %></h2>
<h2>Your lesson:</h2> 
<p><%= sanitize @post.content %></p>
<h2>Number of votes: <%= @post.vote_count %></h2>
<div class="col-md-12">
<% if @post.votes.where(user_id: current_user).empty? %>
<form action="/votes" method="post">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<input type="hidden" name="post_id" value="<%= @post.id %>">
	<input type="hidden" name="user_id" value="<%= current_user.id %>">
	<input type="submit" value="Upvote" class="btn btn-success">
</form>
<% else %>
<form action="/votes" method="post">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<input type="hidden" name="post_id" value="<%= @post.id %>">
	<input type="hidden" name="user_id" value="<%= current_user.id %>">
	<input type="submit" value="Upvote" class="btn btn-success" disabled>
</form>

<% end %>
</div>

<div class="col-md-12">
<form action="/versions" method="post">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<input type="hidden" name="post_id" value="<%= @post.id %>">
	<input type="hidden" name="original_owner" value="<%= current_user.id %>">
	<input type="submit" value="Create Version" class="btn btn-success">
</form>
</div>

<div class="col-md-12">
<form action="/reviews" method="post">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<input type="hidden" name="post_id" value="<%= @post.id %>">
	<input type="hidden" name="user_id" value="<%= current_user.id %>">
	<textarea name="comment"></textarea>
	<select name="rating">
		<option value="1">1 Star</option>
		<option value="2">2 Star</option>
		<option value="3">3 Star</option>
		<option selected="selected" value="4">4 Star</option>
	</select>
	<input type="submit" value="add review">
</form>
</div>
<div class="col-md-10">
<% @reviews.each do |r| %>
<div class="col-md-12">
<p>Rating: <%= r.rating %></p>
<p><%= r.user.first_name %> says:</p>

<div class="well col-md-8">
	<%= r.comment %>
</div>
</div>
<hr>
<% end %>
</div>



